*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: heading;
  src: url(Lobster-Regular.ttf);
}

.container {
  display: flex;
  justify-content: center;
  background: linear-gradient(#615dad 50%, #ffc8da);
  background-attachment: fixed;
}

.content {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
  margin-top: 30px;
  margin-bottom: 50px;
}

.content--image img {
  border-radius: 10px 10px 0 0;
}

.content--text {
  text-align: center;
  color: #ffffff;
  padding: 0 30px 30px;
  flex-basis: 250px;
}

.content--rules {
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
}

.content--rule {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content--buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.content--button__green {
  padding: 20px 0;
  margin-top: 2px;
  background-color: #1fcca4;
  color: #ffffff;
  text-decoration: none;
}

.content--button__green:hover {
  background-color: #1cbb96;
}

.content--button__blue {
  padding: 20px 0;
  margin-top: 2px;
  background-color: #0197f6;
  color: #ffffff;
  text-decoration: none;
}

.content--button__blue:hover {
  background-color: #0090e9;
}

.icons {
  width: 1em;
  height: 1em;
  filter: invert();
}

h1 {
  font-family: heading;
  font-size: 40px;
  padding: 30px 0;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

img {
  width: 100%;
}

figure {
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

figcaption {
  padding: 10px 0;
  text-align: center;
}

@media (min-width: 768px) {
  .content {
    width: 600px;
  }
  .content--rules {
    flex-direction: row;
  }
  .content--rule {
    width: 50%;
  }
  figure {
    height: 100%;
    min-height: 366px;
  }
}

@media (min-width: 992px) {
  .content {
    width: 800px;
  }
  .content--rules {
    flex-direction: row;
  }
  .content--rule {
    width: 50%;
  }
  figure {
    height: 100%;
    min-height: 438px;
  }
}
