*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: heading;
  src: url(Lobster-Regular.ttf);
}

.container {
  display: flex;
  justify-content: center;
  background: linear-gradient(#615dad 50%, #ffc8da);
  background-attachment: fixed;
}

.content {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 400px;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #ffffff;
}

.content__image img {
  border-radius: 10px 10px 0 0;
}

.content__text {
  text-align: center;
  padding: 0 30px 30px;
  flex-basis: 250px;
}

.content__rules {
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
justify-content: center
}

.content__rule {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content__buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.content__button--green {
  padding: 20px 0;
  margin-top: 2px;
  background-color: #1fcca4;
  color: #ffffff;
  text-decoration: none;
}

.content__button--green:hover {
  background-color: #1cbb96;
}

.content__button--blue {
  padding: 20px 0;
  margin-top: 2px;
  background-color: #0197f6;
  color: #ffffff;
  text-decoration: none;
}

.content__button--blue:hover {
  background-color: #0090e9;
}

.icons {
  width: 1em;
  height: 1em;
  filter: invert();
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  max-width: 80vmin;
  background-color: transparent;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #ffffff;
}

.game__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 250px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 20px;
}

.game__buttons {
  display: flex;
  justify-content: right;
}

.game__array {
width: 100%;
min-width: 250px;
}


.game__fields > button:nth-child(1) {
  border-left: 2px solid #000000;
}

.game__fields:nth-child(10) > button {
  border-bottom: 2px solid #000000;
}

.game__button--green {
  padding: 10px;
  margin-right: 5px;
  background-color: #1fcca4;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.game__button--green:hover {
  background-color: #1cbb96;
}

.game__button--blue {
  padding: 10px;
  background-color: #0197f6;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.game__button--blue:hover {
  background-color: #0090e9;
}


h1 {
  font-family: heading;
  font-size: 40px;
  padding: 30px 0;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

img {
  width: 100%;
}

figure {
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

figcaption {
  padding: 10px 0;
  text-align: center;
}

.game__fields--empty {
  margin: 0 -2px;
  border-right: 2px solid #000000;
  border-left: 0;
  border-top: 2px solid #000000;
  opacity: 0.4;
  border-bottom: 0;
  position: relative;
  width: 10%;
  height: 0;
  padding: 0 0 10%;
}


.game__fields--circle {
  margin: 0 -2px;
  border-right: 2px solid #000000;
  border-left: 0;
  border-top: 2px solid #000000;
  opacity: 1;
  border-bottom: 0;
  position: relative;
  width: 10%;
  height: 0;
  padding: 0 0 10%;
  background-image: url("assets/circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
}

.game__fields--cross {
  margin: 0 -2px;
  border-right: 2px solid #000000;
  border-left: 0;
  border-top: 2px solid #000000;
  opacity: 1;
  border-bottom: 0;
  position: relative;
  width: 10%;
  height: 0;
  padding: 0 0 10%;
  background-image: url("assets/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
  opacity: 0.6;
}

button:focus {
  cursor: pointer;
  opacity: 0.6;
}

@media (min-width: 768px) {
  .content {
    width: 60%;
  }
  .content__rules {
    flex-direction: row;
    align-items: flex-start;
  }
  .content__rule {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .content {
    width: 80%;
    max-width: 700px;
  }
  .content__rules {
    flex-direction: row;
    align-items: flex-start;
  }
  .content__rule {
    width: 50%;
  }
}
